body {
    background-color: #001936;
}
h1 {
    color: white;
    font-family: monospace;
}

p { 
    color: white;
}

.profile-flexbox {
    display: flex;
    flex-direction: column;  /* Stack vertically */
    align-items: center;     /* Center horizontally */
    justify-content: center; /* Center vertically if needed */
    max-width: 1000px;
    max-height: 1000px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* subtle shadow */
    border-radius: 12px;
    text-align: center;
    margin-top: 50px;
  }
  .profile-flexbox img {
    border-radius: 50%;      /* Make image circular */
    width: 250px;
    height: 300px;
    margin-bottom: 1rem;
  }
  .profile-flexbox h1 {
    margin-bottom: 1rem;
    color: #222;
  }
  .profile-flexbox p {
    color: #555;
    max-width: 90%;
  }


nav a:hover {
    text-transform: uppercase;
    background-color: rgb(96, 169, 252);
    }
    
    footer{ 
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #001936;
        color: white;
        text-align: center;
        padding: 10px;
        padding-bottom: 0px;
    }

    /* MEDIA SCREEN FOR TABLETS*/
@media only screen and (max-width: 768px) {
    body {
      grid-template-columns: 1fr 1fr 1fr;
    }
}

/* MEDIA SCREEN FOR PHONES*/
@media only screen and (max-width: 468px) {
    body {
        grid-template-columns: 1fr;
    }
}